In [1]:
#Import libraries
import pandas as pd
import random
import numpy as np

In [10]:
#Create toy dataset 
Student_Sex = ['Male', 'Female']
Teacher_name = ['Smith', 'Hong']

df = pd.DataFrame(columns = ['Student_ID', 'Student_Sex', 'Teacher_Name', 'Student_Grade'])
df['Student_ID'] = list(range(100))
df['Student_Sex'] = random.choices(Student_Sex, k=100) #random selection of student sex, with replacement, 100 times
df['Teacher_Name'] = random.choices(Teacher_name, k=100) #random selection of teacher name, with replacement, 100 times
df['Student_Grade'] = random.sample(range(100), 100)

In [11]:
#Inspect datset
df.head()

   Student_ID Student_Sex Teacher_Name  Student_Grade
0           0        Male        Smith             69
1           1      Female         Hong             27
2           2        Male        Smith             50
3           3      Female        Smith              5
4           4      Female        Smith             83

We are interested in whether there is a difference in distribution of male and female students across Professor Hong and Professor Smith's classes

In [17]:
#Null hypothesis: There is no difference in the distribution of male and female students across teachers
#Alternate hypothesis: There is a difference in distrubution of male and female students across teachers
#Two tailed test

In [13]:
#Create contingency table
data_crosstab = pd.crosstab(df.Student_Sex, df.Teacher_Name, 
                             margins = False)
print(data_crosstab)

Teacher_Name  Hong  Smith
Student_Sex
Female          22     27
Male            32     19

In [19]:
#Conduct Chi square analysis for independence
from scipy.stats import chi2_contingency

test, p, df, array = chi2_contingency(data_crosstab)
print('test stat=', t, 'p-value=', p, "degrees of freedom=", df)

test stat= 2.5262278824573317 p-value= 0.11196759334449881 degrees of freedom= 1

In [18]:
#Conclusion: fail to reject the null hypothesis. There is not enough evidence to say there is a difference in distrubution of male and female students across teachers